:root {
    --fundo: #ab59b6;
    --cartao-frente: #636dd6;
    --cartao-verso: #2a2885;
    --destaque: #12608d;
    --preto: #000;
    --branco: #fff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

header{
    background-color: var(--preto);
    color: var(--branco);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

header a{
    color: var(--branco);
    text-decoration: none;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
}

#container{
    display: grid;
    gap: 3rem;
    padding: 20px;
}

.conteudo-cartao{
    padding: 40px;
    background-color: var(--cartao-frente);
    box-shadow: 5px 5px 20px 5px var(--preto);
    border: 1px solid var(--preto);
    border-radius: 10px;
    cursor: pointer;
}

.conteudo-cartao:hover{
    transform: scale(1.02);
}

.resposta-cartao{
    background-color: var(--cartao-verso);
    color: var(--branco);
    padding: 40px;
    margin-top: 15px;
    display: none;
}