:root {
    --fundo: #783181;
    --cartao-frente: #9398db;
    --cartao-verso: #2a2885;
    --destaque: #12608d;
    --preto: #000;
    --branco: #fff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

header{
    background-color: var(--preto);
    color: var(--branco);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

header a{
    color: var(--branco);
    text-decoration: none;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
}

#container {
  display: flex;
  padding: 4rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.cartao {
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    margin: 1rem;
    height: 20rem;
}

.conteudo-cartao {
    background-color: var(--cartao-frente);
    text-align: center;
    height: 100%;
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.conteudo-cartao h3 {
    color: var(--destaque);
    border: 1px solid var(--destaque);
    position: absolute;
    text-align: left;
    margin: 0.6rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

.conteudo-cartao p{
    margin-top: 4rem;
    font-size: 1.4rem;
    padding: 2rem;
}

.pergunta-cartao {
    font-weight: 500;
}

.resposta-cartao {
    font-weight: 700;
    color: var(--destaque);
}

.cartao.active .conteudo-cartao{
  transform: rotateY(180deg);
}

.pergunta-cartao, .resposta-cartao {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
 
.resposta-cartao {
    transform: rotateY(180deg);
    background-color: var(--cartao-verso);
    border: 2px solid var(--destaque);

}